.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0 5vmax;
  margin-bottom: 10px;
}

.nav-text {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  color: black;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 0 1vmax;
  }
}
